.about-top{
    background-image: url('https://i.postimg.cc/9FgkCxqs/working-at-night-1.jpg');
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 25px;
}
.para-top{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    padding-right: 5px;
}
.head-top{
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    padding-right: 5px;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-color:  #f6f6f8;
    height: 63vh;
}
.about-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color:  #e3e3e9;
    padding: 15px;
    height: 63vh;
}
.image{
    width: 80vh;
    height: 63vh;
}
.about-bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px;
    padding: 0px 0px;
}
.head-bottom{
    font-size: 32px;
    font-weight: 400;
    color: black;
    padding-right: 5px;
    text-align: center;
}
.para-bottom{
    font-size: 18px;
    font-weight: 400;
    color: gray;
    padding-right: 5px;
    text-align: center;
    margin-top: 25px;
}

@media(max-width: 768px){
    .about-top{
    background-image: url('https://i.postimg.cc/9FgkCxqs/working-at-night-1.jpg');

    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 25px;
    }
  .about{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 66vh;
  }
  .about-bottom{
    background-image: url('https://i.postimg.cc/9XY55tbj/friends-look-on-laptop-1.jpg');
    border-radius: 0px;
    background-size: cover;
    width: 100%;
  }
  .about-image{
    display: none;
  }
  .para-bottom{
    font-size: 18px;
    font-weight: 400;
    color: rgb(63, 62, 62);
    padding-right: 5px;
    text-align: center;
    margin-top: 25px;
}
}